# zpkg server config

# public address of the HTTP server
HTTP_ADDRESS=http://example.com

# address of the SSH server
SSH_ADDRESS=user@example.com

# path to packages for the zpkg user
# this is the target folder available at the HTTP_ADDRESS
PKG_PATH=pkg

# Compression to use for packages
# format:
#   extension:binary:parallel_binary:arguments
COMPRESSION=xz:xz:pxz:-1
